html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/wow.png") bottom center no-repeat;
  background-size: cover;
  font-size: 1em;
}

.centered {
  padding: 0 3.125em;
  font-family: "Cinzel", serif;
  background: #f16059;
}

.centered h1 {
  font-size: 2em;
  font-family: "Cinzel", serif;
  text-align: center;
}

/* MEDIA QUERY */

/* tablet */
@media screen and (min-width: 768px) {
  .centered h1 {
    font-size: 3em;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .centered h1 {
    font-size: 4em;
  }
}
